<configuration>
    <appender name="errors" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/paw-2026a-02.%d{yyyy-MM-dd}.log</fileNamePattern>
            <maxHistory>5</maxHistory> <!-- Last 5 days get stored -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="general" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>logs/paw-2026a-02.%d{yyyy-MM-dd}.general.log</fileNamePattern>
            <maxHistory>5</maxHistory> <!-- Last 5 days get stored -->
        </rollingPolicy>
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="org.hibernate.internal.util.EntityPrinter" level="WARN" additivity="false" />
    <logger name="org.hibernate.engine.internal.TwoPhaseLoad" level="INFO" additivity="false" />
    <logger name="org.hibernate.loader.Loader" level="INFO" additivity="false" />

    <root level="WARN">
        <appender-ref ref="errors" />
    </root>

    <logger name="ar.edu.itba.paw" level="INFO" additivity="false"> 
        <appender-ref ref="general" /> 
    </logger> 

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false"> 
        <appender-ref ref="STDOUT" /> 
    </logger> 

    
</configuration>