<configuration>
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <root level="DEBUG">
        <appender-ref ref="CONSOLE"/>
    </root>

    <logger name="org.hibernate.internal.util.EntityPrinter" level="WARN" additivity="false" />
    <logger name="org.hibernate.engine.internal.TwoPhaseLoad" level="INFO" additivity="false" />
    <logger name="org.hibernate.loader.Loader" level="INFO" additivity="false" />

    <logger name="org.hibernate.SQL" level="DEBUG" additivity="false"> 
        <appender-ref ref="STDOUT" /> 
    </logger> 
    
</configuration>